<div class="example-container">
    <mat-toolbar class="mat-elevation-z8" color="primary">
        <span>
            <a routerLink="/" routerLinkActive="active">
                <button mat-button class="button-style">Hotel Booking System</button>
            </a>
            <a routerLink="" routerLinkActive="active">
                <button mat-button class="button-style">About Us</button>
            </a>
            <a routerLink="/rooms" routerLinkActive="active">
                <button mat-button class="button-style">Accomodation</button>
            </a>
            <a routerLink="" routerLinkActive="active">
                <button mat-button class="button-style">Reach Us</button>
            </a>
        </span>
        <span class="example-fill-remaining-space"></span>
        <span>
            <a routerLink="/booking">
                <button mat-button class="button-style">                   
                    &nbsp; Book Now
                </button>
            </a>
            <span *ngIf="!user">
                <a routerLink="/auth" routerLinkActive="active">
                    <button mat-button class="button-style">
                        <mat-icon>login</mat-icon> &nbsp;Login
                    </button></a>
            </span>

            <span *ngIf="user">
                <button mat-button [matMenuTriggerFor]="menu">
                    <mat-icon class="material-icons md-dark">face</mat-icon>
                    {{ user.name }}
                </button>
                <mat-menu #menu="matMenu">
                    <a routerLink="/login" (click)="logout()">
                        <button mat-menu-item>Logout</button></a>
                </mat-menu>
            </span>
        </span>
    </mat-toolbar>
</div>
<router-outlet></router-outlet>