<div class="card-group">
    <div class="card bg-dark text-white img-show">
        <img class="card-img img-show" src="../../assets/images/single.jpg" alt="Card image">
        <div class="card-img-overlay">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
                This content is a little bit longer.</p>
            <p class="card-text">Last updated 3 mins ago</p>
            <p>
                <a routerLink="/superior" routerLinkActive="active">
                    <button mat-raised-button class="button-style">Superior Rooms</button>
                </a>
            </p>
        </div>
    </div>
    <div class="card bg-light text-white">
        <img class="card-img img-show" src="../../assets/images/Hotel-Suite.jpg" alt="Card image">
        <div class="card-img-overlay">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
                This content is a little bit longer.</p>
            <p class="card-text">Last updated 7 mins ago</p>
            <p>
<a routerLink="/suites" routerLinkActive="active">
    <button mat-raised-button class="button-style">Luxury Suites</button>
</a>
            </p>
            
        </div>
    </div>
</div>
